Welcome to the system!

   ____                    _____ _______      _______ 
  / __ \                  / ____|  __ \ \    / / ____|
 | |  | |_ __   ___ _ __ | |    | |__) \ \  / / (___  
 | |  | | '_ \ / _ \ '_ \| |    |  _  / \ \/ / \___ \ 
 | |__| | |_) |  __/ | | | |____| | \ \  \  /  ____) |
  \____/| .__/ \___|_| |_|\_____|_|  \_\  \/  |_____/ 
        | |                                           
        |_|         

==================================
🌎 This is a {{ kube_cluster_env }} environment. All logins and commands are audited.
🖥️  If you would like to connect to cluster from your local laptop, transfer ~/.kube directory to your laptop.
💡 Type 'k8s-help' for Kubernetes command hints and shortcuts.
==================================



